<nav class="widget-card social-card-container">
  <div class="social-header">
    <span class="line"></span>
    <span class="social-title">Connect</span>
    <span class="line"></span>
  </div>
  <div class="social-grid">
    <a href="https://github.com/Camilo404" target="_blank" class="social-item" title="GitHub">
      <div class="item-bg"></div>
      <fa-icon [icon]="faGithub"></fa-icon>
      <span class="item-name">GitHub</span>
    </a>
    <a href="https://www.youtube.com/channel/UChzlaSE1adSPVGYBBOQ1ibg" target="_blank" class="social-item"
      title="YouTube">
      <div class="item-bg"></div>
      <fa-icon [icon]="faYoutube"></fa-icon>
      <span class="item-name">YouTube</span>
    </a>
    <a href="https://www.instagram.com/camiloxtz/" target="_blank" class="social-item" title="Instagram">
      <div class="item-bg"></div>
      <fa-icon [icon]="faInstagram"></fa-icon>
      <span class="item-name">Instagram</span>
    </a>
    <a href="https://steamcommunity.com/profiles/76561198832154348/" target="_blank" class="social-item"
      title="Steam">
      <div class="item-bg"></div>
      <fa-icon [icon]="faSteam"></fa-icon>
      <span class="item-name">Steam</span>
    </a>
  </div>
</nav>
