<div class="card-3d-container" #cardElement>
  @if (userDataStatus) {
  <div class="my-[0.45rem] animate-scale-in" data-opacity="0.9;1">
    <div class="card nitro-card" [ngStyle]="{'--color1': themesColor[0], '--color2': themesColor[1]}">
      <div class="card-header animate-fade-in">
        <div [ngStyle]="{'background-image': 'url(' + apiUrl + 'banner/' + ProfileId + ')'}" class="banner-img"></div>
      </div>
      <div class="card-body">
        <div class="profile-header animate-fade-in delay-1" data-offset="2.5">
          <a href="https://discord.com/users/{{ProfileId}}" target="_blank">
            @if (userData?.user?.avatar_decoration_data?.asset) {
            <img class="avatar-decoration"
              src="https://cdn.discordapp.com/avatar-decoration-presets/{{userData?.user?.avatar_decoration_data?.asset}}.png"
              alt="Avatar decoration">
            }
            <div class="profile-logo">
              <img src="{{apiUrl+ 'avatar/' +ProfileId}}" alt="Avatar" />
              <div class="presence-state" [ngClass]="{
                        'online': lanyardData?.d?.discord_status === 'online',
                        'idle': lanyardData?.d?.discord_status === 'idle',
                        'dnd': lanyardData?.d?.discord_status === 'dnd',
                        'offline': lanyardData?.d?.discord_status === 'offline',
                        'streaming': lanyardData?.d?.discord_status === 'streaming',
                        'invisible': lanyardData?.d?.discord_status === 'invisible',
                        'unknown': lanyardData?.d?.discord_status === 'unknown',
                        'default': !lanyardData?.d?.discord_status
                      }"></div>
            </div>
          </a>
          <!-- Custom Status -->
          <div class="custom-status">
            <div class="custom-status-inner">
              <div class="custom-status-text">
                <p>{{'No custom status'}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-body animate-fade-in delay-3" data-offset="2.5">
          <div class="global-name flex justify-between items-center animate-slide-in delay-4">
            <p>{{userData?.user?.global_name || userData?.user?.username}}</p>
            <div class="flex flex-wrap gap-2 items-center">
              @if (lanyardData?.d?.active_on_discord_desktop) {
              <svg class="animate-scale-in delay-4" aria-label="Desktop" height="20" width="20" viewBox="0 0 24 24"
                [attr.fill]="statusColor">
                <path
                  d="M4 2.5c-1.103 0-2 .897-2 2v11c0 1.104.897 2 2 2h7v2H7v2h10v-2h-4v-2h7c1.103 0 2-.896 2-2v-11c0-1.103-.897-2-2-2H4Zm16 2v9H4v-9h16Z">
                </path>
              </svg>
              }
              @if (lanyardData?.d?.active_on_discord_web) {
              <svg class="animate-scale-in delay-5" aria-label="Web" height="20" width="20" viewBox="0 0 24 24"
                [attr.fill]="statusColor">
                <path
                  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2Zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93Zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39Z">
                </path>
              </svg>
              }
              @if (lanyardData?.d?.active_on_discord_mobile) {
              <svg class="animate-scale-in delay-6" aria-label="Mobile" height="18" width="18" viewBox="0 0 1000 1500"
                [attr.fill]="statusColor">
                <path
                  d="M 187 0 L 813 0 C 916.277 0 1000 83.723 1000 187 L 1000 1313 C 1000 1416.277 916.277 1500 813 1500 L 187 1500 C 83.723 1500 0 1416.277 0 1313 L 0 187 C 0 83.723 83.723 0 187 0 Z M 125 1000 L 875 1000 L 875 250 L 125 250 Z M 500 1125 C 430.964 1125 375 1180.964 375 1250 C 375 1319.036 430.964 1375 500 1375 C 569.036 1375 625 1319.036 625 1250 C 625 1180.964 569.036 1125 500 1125 Z">
                </path>
              </svg>
              }
            </div>
          </div>
          <div class="flex justify-between items-center">
            <div class="username animate-slide-in delay-5">
              <p>{{userData?.user?.username}}</p>
            </div>

            <div class="badges-container animate-fade-in delay-2">
              @for (badge of userData?.badges; track $index) {
                <div class="badge-item">
                  <a href="{{badge.link || ''}}" target="_blank" class="badge-link" [ngClass]="'delay-' + (3 + $index % 5)">
                    <img src="{{apiUrl + 'badge/' +badge.icon}}.png" alt="{{badge.id}}" />
                    <div class="tooltip tooltip-up">{{badge.description}}</div>
                  </a>
                </div>
              }
            </div>
          </div>

          <div class="pronouns animate-slide-in delay-6">
            <p>{{userData?.user_profile?.pronouns || ''}}</p>
          </div>
          <hr class="animate-fade-in delay-7" />
          @if (userData?.user_profile?.bio!.length > 0) {
          <div class="basic-infos animate-fade-in delay-7">
            <div class="category-title">About Me</div>
            <div class="markdown" [innerHTML]="userBioFormatted"></div>
          </div>
          }
          @if (lanyardActivities.length > 0) {
          <div class="activities animate-fade-in delay-7">
            <div class="category-title">{{lanyardActivities.length > 1 ? 'Activities' : 'Activity'}}</div>
            @for (activity of lanyardActivities; track $index) {
            <div class="flex items-center gap-4 my-4 animate-slide-in" [ngClass]="'delay-' + (8 + $index)">
              <div class="activity-icon">
                @if (activity.name === 'Spotify') {
                <a href="https://open.spotify.com/track/{{activity.sync_id}}" target="_blank" class="link">
                  <img class="large-img"
                    [src]="'https://i.scdn.co/image/' + getActivityImageId(activity.assets?.large_image || '')"
                    (error)="handleImageError($event)" alt="{{activity.type}}" />
                  @if (activity.assets?.small_image) {
                  <img class="small-img"
                    [src]="'https://i.scdn.co/image/' + getActivityImageId(activity.assets?.small_image || '')"
                    (error)="handleImageError($event)" alt="{{activity.type}}" />
                  }
                </a>
                } @else {
                <img class="large-img"
                  src="https://cdn.discordapp.com/app-assets/{{activity.application_id}}/{{activity.assets?.large_image}}.png"
                  (error)="handleImageError($event)" alt="{{activity.type}}" />
                @if (activity.assets?.small_image) {
                <img class="small-img"
                  src="https://cdn.discordapp.com/app-assets/{{activity.application_id}}/{{activity.assets?.small_image}}.png"
                  (error)="handleImageError($event)" alt="{{activity.type}}" />
                }
                }
              </div>
              <div class="activity-info">
                <div class="overlay">
                  @if (activity.name === 'Spotify') {
                  <p class="title-activity spotify-title">{{activity.name}}</p>
                  <a href="https://open.spotify.com/track/{{activity.sync_id}}" target="_blank"
                    class="spotify-link">{{activity.details}}</a>
                  } @else {
                  <p class="title-activity">{{activity.name}}</p>
                  <p>{{activity.details}}</p>
                  }
                  <p>{{activity.state}}</p>

                  <!-- Timestamps -->
                  @if (activity.name === 'Spotify') {
                  <div class="flex items-center gap-2">
                    <div class="spotify-time-text">{{activity.timestamps?.start}}</div>

                    <div class="spotify_bar">
                      <div class="spotify_progress_bar" style="width: 40%;" [ngStyle]="{'width': percentage+'%'}"></div>
                    </div>

                    <div class="spotify-time-text">{{activity.timestamps?.end}}</div>
                  </div>
                  } @else {
                  <div class="flex flex-wrap gap-1 items-center">
                    <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                      fill="none" viewBox="0 0 24 24">
                      <path fill="#67d08b" fill-rule="evenodd"
                        d="M20.97 4.06c0 .18.08.35.24.43.55.28.9.82 1.04 1.42.3 1.24.75 3.7.75 7.09v4.91a3.09 3.09 0 0 1-5.85 1.38l-1.76-3.51a1.09 1.09 0 0 0-1.23-.55c-.57.13-1.36.27-2.16.27s-1.6-.14-2.16-.27c-.49-.11-1 .1-1.23.55l-1.76 3.51A3.09 3.09 0 0 1 1 17.91V13c0-3.38.46-5.85.75-7.1.15-.6.49-1.13 1.04-1.4a.47.47 0 0 0 .24-.44c0-.7.48-1.32 1.2-1.47l2.93-.62c.5-.1 1 .06 1.36.4.35.34.78.71 1.28.68a42.4 42.4 0 0 1 4.4 0c.5.03.93-.34 1.28-.69.35-.33.86-.5 1.36-.39l2.94.62c.7.15 1.19.78 1.19 1.47ZM20 7.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM15.5 12a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM5 7a1 1 0 0 1 2 0v1h1a1 1 0 0 1 0 2H7v1a1 1 0 1 1-2 0v-1H4a1 1 0 1 1 0-2h1V7Z"
                        clip-rule="evenodd" class=""></path>
                    </svg>
                    <p class="timestamp-activity">{{activity.timestamps?.start}}</p>
                  </div>
                  }
                </div>

              </div>
            </div>
            }
          </div>
          }

          @if (userData?.connected_accounts!.length > 0) {
          <div class="connected-accounts animate-fade-in delay-8">
            <div class="category-title">Connected accounts</div>
            <div class="badges-connected-accounts">
              @for (account of userData?.connected_accounts; track $index) {
              <div class="badge-connected-account animate-scale-in" [ngClass]="'delay-' + (9 + $index % 5)">
                <img src="../../../assets/images/connections/{{account.type}}.svg" alt="{{account.type}}" width="24px"
                  height="24px" />
                <div class="tooltip tooltip-down">{{account.name}}</div>
              </div>
              }
            </div>
          </div>
          }
          <div class="message animate-fade-in delay-10">
            <input type="text" placeholder="Send a message to @{{userData?.user?.username}}" [(ngModel)]="message"
              (keyup.enter)="sendMessage()" />
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>