@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1e1e1e;
  cursor: url('./assets/images/cursor/pointer.png'), default;
}

.markdown {
  color: #dddddd;
  font-size: 0.9rem;
  line-height: 1.5;
}

.markdown code {
  width: auto;
  height: auto;
  background: #48484869;
  padding: 0 .2em;
  margin: -.2em 0;
  border-radius: 4px;
  text-indent: 0;
  white-space: pre-wrap;
  border: 1px solid rgba(0, 0, 0, 0);
}

.markdown blockquote {
  border-left: 4px solid #3c3c3c;
  padding-left: 12px;
  margin: 0;
  margin-top: -24px;
  padding-top: 0;
  white-space: pre-wrap;
}

.markdown blockquote+.markdown blockquote {
  margin-top: 0;
}

.markdown blockquote:first-of-type {
  margin-top: 3px;
}


.markdown a {
  color: #42adf5;
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown .d-emoji {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}